* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ****************************** */
/* *** FORMAL HTML COMPONENTS *** */
/* ****************************** */

html {
  /* Converting browser root element 
      font size to 10 (when default is 16px) */
  /*10 px / 16px =  62.5%*/
  /* This means that 1rem = 10px*/
  font-size: 62.5%;
}

body {
  background-color: #fff;

  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #555;
  line-height: 1;
}

strong {
  font-weight: 500;
  color: #555;
}

/* ************************** */
/* ****     Links       **** */
/* ************************** */

/* .more-recipes {
  background-color: #fff;
  font-size: 1.8rem;
  text-align: center;
} */

a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: #3a7bf5; /*#246cf4*/
  padding-bottom: px;
  /* border-bottom: currentColor 1px solid; */
  transition: all 0.3s;
}

a:hover,
a:active {
  color: #246cf4;
}

/* ************************** */
/* ****     LAYOUTS      **** */
/* ************************** */

.container {
  background-color: #fff;
  max-width: 128rem;
  padding: 0 0rem;
  margin: 0 auto; /* Centers horizontaly */
}

/* ************************** */
/* ****     HEADINGS     **** */
/* ************************** */

.heading-primary,
.heading-secondary {
  font-weight: 600;
  color: #252525;
  letter-spacing: 2px;
}

.heading-primary {
  font-size: 4.4rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

h1.heading-primary {
  font-weight: 500;
}

/* .heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
} */

/* ************************** */
/* ****     BUTTONS      **** */
/* ************************** */

.btn,
.btn:link,
.btn:visited {
  display: inline-block; /*Enables control of x y padding*/
  font-size: 1.6rem;
  letter-spacing: 0.3px;
  font-weight: 600;
  border-radius: 0.9rem;
  text-decoration: none; /*hides the <a> underline*/
  padding: 1.2rem 2.4rem;
  transition: all 0.5s;

  /* For <button> elements */
  border: none;
  font-family: inherit;
}

.btn--full:link,
.btn--full:visited {
  background-color: #246cf4;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #164192;
  transform: translateY(-0.5rem);
}

.btn--outline:link,
.btn--outline:visited {
  border: 1px solid #ccc;
  background-color: transparent;
  color: #333;
}

.btn--outline:hover,
.btn--outline:active {
  /* background-color: #d3e2fd; */
  box-shadow: inset 0 0 0 3px #fff;
  border: 1px solid #333;
  color: #252525;
  transform: translateY(-0.5rem);
}

/* ****************************** */
/* ****   N A V    L I S T   **** */
/* ****************************** */

.nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.nav-item {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
}

.nav-item:link,
.nav-item:visited {
  color: #777;
  transition: all 0.3s;
}
.nav-item:hover,
.nav-item:active {
  color: #252525;
}

/* ************************** */
/* ****     HELPERS      **** */
/* ************************** */

.helper-margin-right-sm {
  margin-right: 2rem !important;
}

.helper-margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.helper-margin-vertical-md {
  margin: 4.8rem 0 !important;
}

.helper-center-text {
  text-align: center !important;
}

.text-strikethrough {
  text-decoration: line-through !important;
  color: #aaa !important;
}

/* ********************* */
/* ****   TAGS      **** */
/* ********************* */

.tags-box {
  display: flex;
  gap: 1.2rem;
}

.tags-box.tags-box__hide {
  display: none;
}

.tag {
  display: inline-block;
  border-radius: 11px;
  border-color: 1px solid #000;
  padding: 0.6rem 1.2rem;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}

.tag--popular {
  background-color: #2061dc;
}
.tag--another {
  background-color: #cd9808;
}

/* ************************** */
/* ****   ICON  STYLING  **** */
/* ************************** */

.ionicon {
  color: #2061dc;
  width: 2.2rem;
  height: 2.2rem;
}

/* *** */
/* The circled-icon draws the icon inside a circle */
/* To use the circled-icon : */
/* (1) link to the ionicicon :*/
/* <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script> */
/* (2) Add the html element for ion-icon : */
/* <ion-icon class="circled-icon" name="infinite"></ion-icon> */
/* *** */
.circled-icon {
  color: #fff;
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.8rem;
  border-radius: 50%;
  background-color: #164192;
  margin-bottom: 1.6rem;
}
