* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ****************************** */
/* *** FORMAL HTML COMPONENTS *** */
/* ****************************** */

html {
  /* Converting browser root element 
      font size to 10 (when default is 16px) */
  /*10 px / 16px =  62.5%*/
  /* This means that 1rem = 10px*/
  font-size: 62.5%;
}

body {
  background-color: #333;

  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #555;
  line-height: 1;
}

strong {
  font-weight: 500;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: #246cf4;
  padding-bottom: 2px;
  border-bottom: currentColor 1px solid;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #164192;
  border-bottom: transparent 1px solid;
}

/* ************************** */
/* REUASABLE COMPONENTS */
/* ************************** */

/* - Layout centered content container  .......... */

.container {
  /* 114rem */
  max-width: 128rem;
  padding: 0 0rem;
  margin: 0 auto; /* Centers horizontaly */
}
