/* ++++++++++++++++++++++++++ */
/*        SECTION TITLE       */
/* ++++++++++++++++++++++++++ */

.section-title {
  display: flex;
  background-color: transparent;
  font-size: 3rem;
  color: #252525;
  justify-content: center;
}

.section-title h1 {
  font-size: 4.4rem;
  font-weight: 500;
  align-self: center;
}

.section-title img {
  /* border: #252525 1px solid; */
  width: 4.4rem;
  height: 4.4rem;
  margin-right: 1.6rem;
  /* align-self: center; */
}
