/* ++++++++++++++++++++++++++ */
/*        SECTION TITLE       */
/* ++++++++++++++++++++++++++ */

.section-title {
  /* background-color: blueviolet; */
  font-size: 3rem;

  color: #252525;
  display: flex;
  justify-content: center;
  /* align-content: center; */
  padding: 6.4rem;
}

.section-title h1 {
  font-size: 4.4rem;
  font-weight: 500;
}
