/* ************************** */
/* HEADER NAV BAR */
/* ************************** */

.page-header {
  background-color: rgb(237, 180, 217);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ************************** */
/*        SECTION HERO        */
/* ************************** */

/* ************************** */
/*       SECTION TRENDING     */
/* ************************** */

/* ************************** */
/*        SECTION WHY US      */
/* ************************** */

/* ************************** */
/*       SECTION STEPS        */
/* ************************** */

/* ************************** */
/*   SECTION DESTINATION      */
/* ************************** */

/* ************************** */
/*    SECTION TESTINOMIALS    */
/* ************************** */

/* ************************** */
/*    SECTION SOCIAL  MEDIA   */
/* ************************** */

/* ************************** */
/*       F O O T E R          */
/* ************************** */
