<!DOCTYPE html>

<!-- ---------------------------------------- -->
<!-- DISPLAY CARD WITH IMAGE AND ICON BULLETS -->
<!-- ---------------------------------------- -->

<!-- -------------- -->
<!-- DISPLAY CARD-1 -->
<!-- -------------- -->
<div class="card">
  <!-- <img
            class="card-img"
            src="img/meals/meal-1.jpg"
            alt="three plates with Japanese Gyozas" /> -->

  <div class="card-content">
    <div class="tags-box">
      <span class="tag tag--popular">Popular</span>
    </div>
    <p class="card-title">Morocco</p>
    <ul class="card-details">
      <li class="detail-item">
        <span class="detail-text"><strong>650</strong> calories</span>
      </li>
      <li class="detail-item">
        <span class="detail-text"><strong>74 </strong> NutriScore &reg; </span>
      </li>
      <li class="detail-item">
        <ion-icon class="detail-icon" name="star-outline"></ion-icon>
        <span class="detail-text"><strong>4.9 </strong> Rating</span>
      </li>
    </ul>
  </div>
</div>

<!-- ------------------------ -->
<!-- CARD WITH TITLE AND LIST -->
<!-- ------------------------ -->

<div class="card-list">
  <h3 class="heading-list-card">Works with any diet:</h3>
  <ul class="list">
    <li class="list-item">
      <ion-icon class="detail-icon" name="checkmark"></ion-icon>
      <span class="detail-text">Vegetarian</span>
    </li>
    <li class="list-item">
      <ion-icon class="detail-icon" name="checkmark"></ion-icon>
      <span class="detail-text">Vegan</span>
    </li>
    <li class="list-item">
      <ion-icon class="detail-icon" name="checkmark"></ion-icon>
      <span class="detail-text">Pescatarian</span>
    </li>
    <li class="list-item">
      <ion-icon class="detail-icon" name="checkmark"></ion-icon>
      <span class="detail-text">Gluten-free </span>
    </li>
    <li class="list-item">
      <ion-icon class="detail-icon" name="checkmark"></ion-icon>
      <span class="detail-text">Lactose-free</span>
    </li>
    <li class="list-item">
      <ion-icon class="detail-icon" name="checkmark"></ion-icon>
      <span class="detail-text">Keto</span>
    </li>
    <li class="list-item">
      <ion-icon class="detail-icon" name="checkmark"></ion-icon>
      <span class="detail-text">Paleo</span>
    </li>
    <li class="list-item">
      <ion-icon class="detail-icon" name="checkmark"></ion-icon>
      <span class="detail-text">Low FODMAP</span>
    </li>
    <li class="list-item">
      <ion-icon class="detail-icon" name="checkmark"></ion-icon>
      <span class="detail-text">Kid-friendly</span>
    </li>
  </ul>
</div>
