/* ************************** */
/* ****     CARDS BASE   **** */
/* ************************** */

.card {
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.card:hover {
  transform: translateY(-0.7rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
}

.card-content {
  padding: 3.2rem;
}

/* ***************************************************** */
/* ****  Card with image , tags & icon bullet list  **** */
/* ***************************************************** */

.card-img {
  width: 100%;
}

.card-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.card-details {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.detail-item {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  margin-bottom: 1.6rem;
}

.detail-text {
  font-size: 1.8rem;
  line-height: 2.4rem; /* Line height needs to be icon height */
}

.detail-icon {
  color: #c35f07;
  width: 2.4rem;
  height: 2.4rem;
}

.ionicon {
  color: #c35f07;
  width: 2.2rem;
  height: 2.2rem;
}

/* ***************************************************************** */
/* *** Card with a list of items and a bottom full-width button **** */
/* ***************************************************************** */

/*   Example of how an html list item is used */
/*  with a circled icon and text :*/
/*  <li class="detail-item">
      <ion-icon class="circled-icon" name="checkmark"></ion-icon>
      <span class="detail-text">Approval within 24-48 hours</span>
    </li>
 */

.card-list {
  background-color: #fff;
}

.heading-list-card {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.card-button a {
  color: inherit;
}

.card-button:link,
.card-button:active,
.card-button:visited {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30%;
  font-size: 1.8rem;
  padding: 2rem;
  color: #fff;
  background-color: #246cf4;
}

.card-button:hover {
  /* color: #fff; */
  background-color: #164192;
}

/* ************************* */
/* *** Card Decorations **** */
/* ************************* */

.card-hr-thin {
  border: #eee 1px solid;
  margin-bottom: 3.2rem;
}
